body {
    margin: 0;
    background: linear-gradient(to top, white, lightgreen, green);
    background-repeat: no-repeat;
}

.image {
    float: left;
    margin: 1.66%;
    width: 29.4%;
    height: 300px;
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    text-shadow: 0px 9px 6px rgba(150, 150, 150, 1);
}

hr {
    margin: 1.66%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}

.barcelona {
    background-image: url(img/Barcelona.jpg);
    rotate: 180%;
}
.barcelona:hover{
    background-image: url(img/SpainFlag.png);
    transition: 0.5s;
}

.argentina {
    background-image: url(img/Argentina.jpg);
}
.argentina:hover{
    background-image: url(img/ArgentinaFlag.png);
    transition: 0.5s;
}
.uruguay {
    background-image: url(img/Uruguay.jpg);
}
.uruguay:hover{
    background-image: url(img/UruguayFlag.jpg);
    transition: 0.5s;
}
.chile {
    background-image: url(img/Chile.jpg);
}
.chile:hover{
    background-image: url(img/ChileFlag.png);
    transition: 0.5s;
}
.brazil {
    background-image: url(img/Brazil.jpg);
}
.brazil:hover{
    background-image: url(img/BrazilFlag.png);
    transition: 0.5s;
}

.peru {
    background-image: url(img/Peru.jpg);
}
.peru:hover{
    background-image: url(img/PeruFlag.png);
    transition: 0.5s;
}
.colombia {
    background-image: url(img/Colombia.jpg);
}
.colombia:hover{
    background-image: url(img/ColombiaFlag.png);
    transition: 0.5s;
}
.empty {
    border-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
}